<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="https://thymeleaf.org">

<head th:fragment="head">
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Kufam:wght@500;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8ddd18f331.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}" />
    <link rel="icon" type="image/png" href="../static/images/favicon.ico" th:href="@{images/favicon.ico}" />
    <title>Food2U</title>
</head>



<body class="d-flex flex-column h-100">

<header id="navigation" th:fragment="header">

    <nav class="navbar navbar-expand-md fixed-top">
        <a href="/"><span class="navbar-brand">Food2u</span></a>
        <button class="navbar-toggler collapsed navbar-dark" type="button" data-toggle="collapse"
                data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarCollapse" style="">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link link main-link" href="/sign-in">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link main-link" href="/sign-up">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link main-link" href="#">About</a>
                </li>
            </ul>
            <div class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu dropdown-menu-lg-right"
                         aria-labelledby="navbarDropdown">
                        <a class="dropdown-item link" href="/sign-in">Log In</a>
                    </div>
                </li>
            </div>
        </div>
    </nav>
</header>

<footer th:fragment="footer" id="footer" class="footer mt-auto py-3">
    <div class="container">
        <p>&#169; 2020 Timothy Jonker</p>
    </div>
</footer>
</body>

</html>