@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.slider{
    margin-top: 3%;
    display: flex;
}
.slider .card1{
    flex: 1;
    margin: 2px 2px;
    background: #fff;
}
.slider .card1 .img1{
    height: 100%;
    width: 100%;
}
.slider .card1 .img1 img1{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.slider .card1 .content1{
    padding: 10px 20px;
}
.card1 .content1 .title1{
    font-size: 25px;
    font-weight: 600;
}
.card1 .content1 .sub-title{
    font-size: 20px;
    font-weight: 600;
    color: #e74c3c;
    line-height: 20px;
}
.card1 .content1 p1{
    text-align: justify;
    margin: 10px 0;
}
.card1 .content1 .btn1{
    display: block;
    text-align: left;
    margin: 10px 0;
}
.card1 .content1 .btn button1{
    background: #e74c3c;
    color: #fff;
    border: none;
    outline: none;
    font-size: 17px;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}
.card1 .content1 .btn1 button1:hover{
    transform: scale(0.9);
}
