.right-side, .left-side{
    height: 50vh;
    width: 100%;
}
@media screen and (min-width: 960px){
    .right-side .left-side{
        height: 100vh;
    }
}
.left-side{
    background: whitesmoke;
}
.right-side{
    background: whitesmoke;
}
.new-orders{
    text-align: center;
    padding: 0.5rem;
    background: #68a708;
    color: wheat;
    font-size: x-large;
    width: 95%;
    margin-left: 2.5%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.accepted-orders{
    text-align: center;
    padding: 0.5rem;
    background: cornflowerblue;
    color: wheat;
    font-size: x-large;
    width: 95%;
    margin-left: 2.5%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.orders-content{
    overflow-y: auto;
    width: 95%;
    margin: auto;
    height: 142%;
}

@media screen and (max-width: 768px){
    .accepted-orders {
        margin-top: 13rem;
    }
    .orders-content{
        height: 130%;
    }
}