.right-side, .left-side{
    height: 50vh;
    width: 100%;
}
@media screen and (min-width: 960px){
    .right-side .left-side{
        height: 100vh;
    }
}
.left-side{
    background: whitesmoke;
}
.right-side{
    background: whitesmoke;
}
.new-orders{
    text-align: center;
    padding: 0.5rem;
    background: #cb190c;
    color: white;
    font-size: x-large;
    width: 95%;
    margin-left: 2.5%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.accepted-orders{
    text-align: center;
    padding: 0.5rem;
    background: #68a708;
    color: white;
    font-size: x-large;
    width: 95%;
    margin-left: 2.5%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.orders-content{
    overflow-y: auto;
    width: 95%;
    margin: auto;
    height: 142%;
}

@media screen and (max-width: 768px){
    .accepted-orders {
        margin-top: 13rem;
    }
    .orders-content{
        height: 130%;
    }
}
.bill-table{
    width: 100%;
    border: 2px solid black;
    height: 30%;
    margin-bottom: 10px;
}
.bill-id-cell{
    border: 2px solid black;
    font-size: x-large;
    color: white;
    background: #68a708;
}
.address-cell{
    width: 67%;
    font-size: large;
    color: white;
    background: lightslategray;
    padding: 0.5rem;
}
.bill-id-cell-new-orders{
    border: 2px solid black;
    font-size: x-large;
    color: white;
    background: #cb190c;
}
.content-cell{
    border: 2px solid black;
    height: 65%;
    font-size: larger;
}
.button-content-cell{
    float: right;
    border-radius: 10px;
    background: #68a708;
    color: white;
    margin-right: 0.7rem;
    box-shadow: 1px 1px 4px #cb190c;
}
.item-price{
    float: right;
    margin-top: -1.4rem;
}
.condiments{
    margin-left: 1rem;
    border-bottom: 2px solid gray;
}
.condiment-price{
    float: right;
    margin-top: -1.4rem;
}
.item-total{
    float: right;
    font-size: larger;
}
.Ukupno{
    border-bottom: 2px solid darkred;
    font-size: larger;
    margin-top: 2rem;
}
.ukupno-price{
    float: right;
    margin-top: -2.1rem;
    font-size: 1.3rem;
    color: darkred;
}
.details-cell{

}
