*{

    margin:0;
    padding: 0;

}
body{
    width: 1140px;
    text-align: center;
    margin: auto;
}

header{
    height: 120px;
    background-size: cover;
}
.main-nav{

    list-style: none;
    text-align: center;
    background-color:#cb190c;
    height: 150px;




}
.main-nav li{

    display: inline-block;
    margin-top: 50px;
    font-size: 120%;
    padding: 10px;



}
.item a{
    text-decoration: none;
    color:white;

}

.brand a{

    margin-right: 100px;
    color: white;
    text-decoration: none;
}

.logo{

    height: 120px;
    width: auto;
    float: left;
    margin-top: 15px;
    margin-left: 30px;
}