/* all pages */

html, body {

    background-color: #f1f3f8;
    letter-spacing: 1px;
    font-family: "Montserrat";
    height: 100%;
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 0;
}

/* Navigation CSS */

#navigation {
    font-family: 'Poppins',sans-serif;
}


.navbar-brand {
    color: #f1f3f8;
    font-family: "Kufam";
    font-size: 2.20rem;
    font-weight: 600;
    padding-right: 20px;
}

.navbar {
    padding: 0 1%;
    background-color: darkred;
}

.main-link {
    margin-right: 20px;
}

.link {
    font-size: 18px;
    color: white;
}

.link:hover {
    color: white;
}

.dropdown-header {
    color: #f1f3f8;
}

.dropdown-header:hover {
    color: #f1f3f8;
}
/* Footer css */
/*
#footer {
    background-color: darkred;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}*/

/** Index.html css below **/

/* Content CSS */

#page-header {
    padding-top: 60px;
}

.jumbotron-header {
    font-family: "Kufam";
    font-size: 1.5rem;
    font-weight: 600
}

.jumbotron {
    margin-bottom: 0;
}

.jumbotron-subheader {
    font-size: 1.5rem;
    margin-top: 20px;

}

.jumbotron {
    background-image: url("../images/pizza-4952508_1280.jpg");
    color: #f1f3f8;
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;

}

/* Bootstrap carousel css */

.col-width {
    padding: 20px 50px;
}

/* #about section css */

#about {
    margin: 60px auto;
}

.card-about {
    background-color: antiquewhite;
    text-align: center;
    color: black;
}

.card-container {
    padding: 0 46px;
}

.card-title {
    font-weight: bold;
}

.card-main {
    margin: 10px auto;
}

.card-image {
    width: 100%;
    margin: -5px auto;
}

.fa-carrot {
    color: orange;
}

/** CSS pertaining to sign-in.html **/

/* Main-content css */

#main-content {
    margin-top: 60px;
}

.sign-in-header {
    text-align: center;
    position: relative;
    top: 25px;
    font-weight: 700;
}

.form-col {
    border: 2px #393b44 solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #8d93ab;
    color: #f1f3f8;
}

.sign-in-div {
    max-width: 389px;
}

.form-text {
    color: #f1f3f8;
    font-weight: lighter;
}

.lusu-form {
    padding: 50px;
}

.submit-box {
    margin: 0 33%;
}

.submit-button {
    text-align: center;
    position: relative;
    top: 10px;
    align-content: center;
}

.form-error {
    text-align: center;
    background-color: #ed0c17;
    overflow: auto;
    color: #f1f3f8;
    margin: 0 auto 42px;
    padding: 10px;
}

input[type=checkbox] {
    transform: scale(1.25);
}

.form-group {
    margin: 15px auto 0px;
}

.remember {
    margin-right: 10px;
}

#featured-restaurants {
    margin: 60px auto;
}

@media screen and (max-width: 700px) {
    .form-col {
        width: 85%;
    }

    .form-col {
        position: static;
        transform: none;
        margin: 60px auto;
    }
}

@media screen and (max-height: 750px) {
    .form-col {
        width: 85%;
    }

    .form-col {
        position: static;
        transform: none;
        margin: 60px auto;
    }
}

.logout-btn{
    background-color: inherit;
    border: none;
}

.profile{
    background-color:whitesmoke;
    width: 100%;
    margin-top:100px;
    margin-bottom: 30px;
}

.img-wrap{
    width: 100%;
}
.img-wrap img{
    width: 100%;
    padding:10px;
    border-radius: 50%;
    box-shadow: 0 0 10px #999999;
}



.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background-color: #171717;
}

.footer > * {
    flex:  1 100%;
}

.l-footer {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

h2 {
    font-weight: 400;
    font-size: 15px;
}

.footer ul {
    list-style: none;
    padding-left: 0;
    gap: 35px;
    text-align: center;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.r-footer {
    display: flex;
    flex-flow: row wrap;
}

.r-footer > * {
    flex: 1 50%;
    margin-right: 1.25em;
}

.box a {
    color: #999;
}

.h-box {
    column-count: 2;
    column-gap: 1.25em;
}

.b-footer {
    text-align: center;
    color: #999;
    padding-top: 50px;
}

.l-footer p {
    padding-right: 20%;
    color: #999;
}

@media screen and (min-width: 600px) {
    .r-footer > * {
        flex: 1;
    }

    .features {
        flex-grow: 2;
    }

    .l-footer {
        flex: 1 0px;
    }

    .r-footer {
        flex: 2 0px;
    }
}
