/* all pages */

html, body {
    background-color: #f1f3f8;
    letter-spacing: 1px;
    font-family: "Montserrat";
}

p {
    margin-bottom: 0;
}

/* Navigation CSS */

#navigation {
    font-family: "Ubuntu";
}


.navbar-brand {
    color: #f1f3f8;
    font-family: "Kufam";
    font-size: 2.20rem;
    font-weight: 600;
    padding-right: 20px;
}

.navbar {
    padding: 0 1%;
    background-color: #393b44;
}

.main-link {
    margin-right: 20px;
}

.link {
    font-size: 18px;
    color: #8d93ab;
}

.link:hover {
    color: #d6e0f0;
}

.dropdown-header {
    color: #f1f3f8;
}

.dropdown-header:hover {
    color: #f1f3f8;
}

.dropdown-menu {
    background-color: #393b44;
}

.dropdown-item:hover {
    background-color: #393b44;
}

/* Footer css */

#footer {
    background-color: #d6e0f0;
    color: black;
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
}

/** Index.html css below **/

/* Content CSS */

#page-header {
    padding-top: 60px;
}

.jumbotron-header {
    font-family: "Kufam";
    font-size: 3.5rem;
    font-weight: 600
}

.jumbotron {
    margin-bottom: 0;
}

.jumbotron-subheader {
    font-size: 1.5rem;
    margin-top: 20px;
}

.jumbotron {
    background-color: #8d93ab;
    color: #f1f3f8;
}

/* Bootstrap carousel css */

.col-width {
    padding: 20px 50px;
}

/* #about section css */

#about {
    margin: 60px auto;
}

.card-about {
    background-color: #d6e0f0;
    text-align: center;
    color: black;
    padding: 15px;
}

.card-container {
    padding: 0 46px;
}

.card-title {
    font-weight: bold;
}

.card-main {
    margin: 10px auto;
}

.card-image {
    width: 80%;
    margin: 0 auto;
}

.fa-carrot {
    color: orange;
}

/** CSS pertaining to sign-in.html **/

/* Main-content css */

#main-content {
    margin-top: 60px;
}

.sign-in-header {
    text-align: center;
    position: relative;
    top: 25px;
    font-weight: 700;
}

.form-col {
    border: 2px #393b44 solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #8d93ab;
    color: #f1f3f8;
}

.sign-in-div {
    max-width: 389px;
}

.form-text {
    color: #f1f3f8;
    font-weight: lighter;
}

.lusu-form {
    padding: 50px;
}

.submit-box {
    margin: 0 33%;
}

.submit-button {
    text-align: center;
    position: relative;
    top: 10px;
    align-content: center;
}

.form-error {
    text-align: center;
    background-color: #ed0c17;
    overflow: auto;
    color: #f1f3f8;
    margin: 0 auto 42px;
    padding: 10px;
}

input[type=checkbox] {
    transform: scale(1.25);
}

.form-group {
    margin: 15px auto 0px;
}

.remember {
    margin-right: 10px;
}

#featured-restaurants {
    margin: 60px auto;
}

@media screen and (max-width: 700px) {
    .form-col {
        width: 85%;
    }

    .form-col {
        position: static;
        transform: none;
        margin: 60px auto;
    }
}

@media screen and (max-height: 750px) {
    .form-col {
        width: 85%;
    }

    .form-col {
        position: static;
        transform: none;
        margin: 60px auto;
    }
}