@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

$primary: #007bff;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;

.shadow {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.tab-content{
  flex:1;
}
.form-group {
  margin-bottom: 1.5rem;
}
