<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Checkout</title>
  <link href="../static/css/checkout.css" th:href="@{/css/checkout.css}" rel="stylesheet" />

</head>
<body>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <div id="invoice">
          <div class="invoice overflow-auto">
            <div style="min-width: 600px">
              <main>
                <table>
                  <thead>
                  <tr>
                    <th>#</th>
                    <th class="text-left">NAZIV</th>
                    <th class="text-right">CIJENA</th>
                    <th class="text-right">KOLIČINA</th>
                    <th class="text-right">UKUPNO</th>
                  </tr>
                  </thead>
                  <tbody>
                  <th:block th:each="product: ${products}">
                  <tr>
                    <td class="no">01</td>
                    <td class="text-left">
                      <h3>[[${product.getName()}]]</h3>C
                    <td class="unit">[[${product.getPrice()}]]</td>
                    <td class="qty">[[${product.getPrice()}]]</td>
                    <td class="total">[[${product.getPrice()}]]</td>
                  </tr>
                  </th:block>
                  </tbody>

                  <tfoot>
                  <tr>
                    <td colspan="2"></td>
                    <td colspan="2">UKUPNO:</td>
                    <td>$5,200.00</td>
                  </tr>
                  </tfoot>
                </table>
              </main>
            </div>
            <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>
</html>