<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="https://thymeleaf.org">

<head th:replace="fragments/general :: head">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <link href="../static/css/cards.css" th:href="@{/css/cards.css}" rel="stylesheet" />
</head>

<body class="d-flex flex-column h-100">
    <main role="main" class="flex-shrink-0">

        <header th:replace="fragments/general_welcome :: header"></header>
        <section id="main-content">
            <div class="jumbotron jumbotron-fluid jumbotron-header">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 th:inline="text">Welcome</h1>
                            <h3 class="jumbotron-subheader">Need a handyman?</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <br><br>
    <footer th:fragment="footer" id="footer" class="footer mt-auto py-3">
        <div class="container2">
            <p>&#169; Mezi.online</p>
        </div>
    </footer>
</body>

</html>