
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kartice</title>

    <link rel="stylesheet" href="style.css" />
</head>

<body>
<div class="grid">
    <div class="grid-item">
        <div class="card">
            <img class="card-img" src="images/3.jpg" alt="Rome" />
            <div class="card-content">
                <h1 class="card-header">Super Grill</h1>
                <p class="card-text">Minimalno 10 KM
                </p>
            </div>
        </div>
    </div>
    <div class="grid-item">
        <div class="card">
            <img
                    class="card-img"
                    src="images/2.jpg"
                    alt="Grand Canyon"
            />
            <div class="card-content">
                <h1 class="card-header">Domin Burger Bar</h1>
                <p class="card-text">Minimalno 15 KM</p>
            </div>
        </div>
    </div>
    <div class="grid-item">
        <div class="card">
            <img class="card-img" src="images/1.jpg" alt="Maldives" />
            <div class="card-content">
                <h1 class="card-header">Adeo Sport</h1>
                <p class="card-text">
                    Minimalno 20 KM
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
