<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="https://thymeleaf.org">

<head th:replace="fragments/general :: head">
    <link href="../static/css/datatable.css" th:href="@{/css/datatable.css}" rel="stylesheet" />

</head>

<body class="d-flex flex-column h-100">
<main role="main" class="flex-shrink-0">

    <header th:replace="fragments/general_welcome :: header"></header>

    <section id="main-content">
        <div class="jumbotron jumbotron-fluid jumbotron-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <img th:src="@{/images/grilled-vegetables-uhd-4k-wallpaper.jpg}" src="C:\Users\josip\Documents\workspace-spring-tool-suite-4-4.10.0.RELEASE\Food-Delivery\src\main\resources\static\images\grilled-vegetables-uhd-4k-wallpaper.jpg"
                             class="card-img-top card-image" alt="food-image">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br><br>
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="section-title text-center mb-4 pb-2">
                        <h4 class="title mb-4">otvoreni restorani</h4>
                    </div>
                </div><!--end col-->
            </div><!--end row-->

        </div>
    </section>
    <br><br>
</main>
<footer th:fragment="footer" id="footer" class="footer mt-auto py-3">
    <div class="container">
        <p>&#169; 2021 Cutura productions</p>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
</script>
</body>

</html>