<!DOCTYPE html>
<html lang="hr" class="h-100" xmlns:th="https://thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments/general :: head"></head>
<head>
  <link href="../static/css/kako-naruciti.css" th:href="@{/css/kako-naruciti.css}" rel="stylesheet" />


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="d-flex flex-column h-100">

<main role="main" class="flex-shrink-0">
  <header th:replace="fragments/general :: header"></header>

  <section id="page-header">
    <div class="jumbotron jumbotron-fluid" th:style="'background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(' + ${banner} + ');'" style="height: 400px">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-width">
            <h2 class="jumbotron-header" style="padding-top: 17rem;">Kako naručiti?</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row">
      <div class="col-sm-7" style="padding-top: 100px; max-width: 100%; flex: none">
        <h2 class="text-center" style="font-size: 26px">Kako naručiti?</h2>
        <p style="padding-top: 35px;padding-bottom: 50px;text-align: center!important;">
          Naručiti na MEZI možete u par jednostavnih koraka.
        </p>
      </div>
    </div>
  </div>
  <div class="steps-container">

    <div class="steps-wrapper">

      <!-- left -->
      <div class="step-left-wrapper">
        <div class="step step-left">
          <span class="step-number">1</span>
        </div>
        <p class="how-to-order-p">
          Prvo što trebate napraviti je <a href="/login">prijaviti se</a>, a ukoliko nemate račun
          potrebno je se <a href="/sign-up">registrirati</a>. Unesete svoje ime, mobitel, email adresu i
          lozinku. Nakon što ste se registrirali, na vašu email adresu je poslana poruka u kojoj trebate
          potvrditi svoju email adresu. Vaš račun je time kreiran.
        </p>
      </div>

      <div class="step-left-wrapper">
        <div class="step step-left">
          <span class="step-number">2</span>
        </div>
        <p class="how-to-order-p">
          Nakon uspješne registracije, izaberite bilo koji restoran iz <a href="/">ponude</a> po
          vašem izboru.
        </p>
      </div>

      <!-- left -->
      <div class="step-left-wrapper">
        <div class="step step-left">
          <span class="step-number">3</span>
        </div>
        <p class="how-to-order-p">
          Nakon odabira restorana, priložen vam je meni iz kojeg možete izabrati više jela po vašem ukusu.
          MEZI omogućava maksimalnu prilagodbu vaše narudžbe, od veličine porcije, dodataka, priloga i
          količine. Ukoliko ste zadovoljni svojim odabirom, otvorite košaricu, te klikom na "pregledajte
          narudžbu" idete na posljednji korak.
        </p>
      </div>

      <div class="step-left-wrapper">
        <div class="step step-left">
          <span class="step-number">4</span>
        </div>
        <p class="how-to-order-p">
          U posljednjem koraku navedena su jela koja ste odabrali, sve što dalje morate napraviti je
          unijeti adresu dostave, i napomenu restoranu ako želite. Klikom na "naruči" završavate
          svoju narudžbu. I to je to.
          <br>
          Dobar tek!
        </p>
      </div>
      <!-- right -->


    </div>

  </div>


</main>

<footer th:replace="fragments/general :: footer">
</footer>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
</script>

</body>

</html>
