
<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="https://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/general :: head"></head>
<head>
    <meta charset="UTF-8">
    <title>Restoran</title>
    <link href="../static/css/success.css" th:href="@{/css/success.css}" rel="stylesheet" />

</head>
<body>
<main role="main" class="flex-shrink-0" style="margin-bottom: 125px;">
    <header th:replace="fragments/general-restaurant :: header"></header>
</main>

<br><br><br>
<footer th:replace="fragments/general :: footer">
</footer>
</body>
</html>