<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="https://thymeleaf.org">

<head th:replace="fragments/general :: head"></head>
<head>
    <link href="../static/css/cards.css" th:href="@{/css/cards.css}" rel="stylesheet" />

</head>

<body class="d-flex flex-column h-100">
<main role="main" class="flex-shrink-0">
    <header th:replace="fragments/general :: header"></header>
</main>

<div class="split left">
    <div class="centered">
        <img src="img_avatar2.png" alt="Avatar woman">
        <h2>Jane Flex</h2>
        <p>Some text.</p>
    </div>
</div>

<div class="split right">
    <div class="centered">
        <img src="img_avatar.png" alt="Avatar man">
        <h2>John Doe</h2>
        <p>Some text here too.</p>
    </div>
</div>
<footer th:replace="fragments/general :: footer">
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
</script>
</body>

</html>