
<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="https://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/general :: head"></head>
<head>
    <meta charset="UTF-8">
    <title>Restoran</title>
    <link href="../static/css/success.css" th:href="@{/css/success.css}" rel="stylesheet" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <link href="../static/css/restaurant_orders.css" th:href="@{/css/restaurant_orders.css}" rel="stylesheet" />
    <link href="../static/css/popup.css" th:href="@{/css/popup.css}" rel="stylesheet" />
    <link href="../static/css/rating.css" th:href="@{/css/rating.css}" rel="stylesheet" />
    <link href="../static/css/checkout.css" th:href="@{/css/checkout.css}" rel="stylesheet" />



</head>
<body>
<main role="main" class="flex-shrink-0" style="margin-bottom: 125px;">
    <header th:replace="fragments/general-restaurant :: header"></header>


    <div class="row no-gutters" style="margin-top: 5rem;">
        <div class="col-md-6 no-gutters">
            <div class="left-side">
                <div class="new-orders"><b>NEW ORDERS</b></div>
                    <div class="orders-content" style="border-left: 3px solid #cb190c;border-right: 3px solid #cb190c;border-bottom: 3px solid #cb190c;">
                        <section>
                            <table class="bill-table">
                                <tr>
                                    <td class="bill-id-cell-new-orders">
                                        #13242
                                    </td>
                                    <td class="address-cell">
                                        13.04.2022 14:54
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan=2 class="details-cell">
                                        <div class="details-cell">
                                            <b>Adresa</b>: fra petra bakule 192
                                        </div>

                                        <div class="details-cell">
                                            <b>Ime:</b> Josip
                                        </div>

                                        <div class="details-cell">
                                            <b>Tel:</b> 092 332 0202
                                        </div>

                                        <div class="details-cell">
                                            <b>Napomena restoranu:</b> please bring a knife and a fork
                                        </div>

                                        <div class="details-cell">
                                            <b>Napomena dostavljacu:</b> call before you arrive
                                        </div>
                                        <div class="">
                                            <form action="#popup1">
                                                <input class="button-content-cell" type="submit" value="Detalji" />
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            </table>

                            <div id="popup1" class="overlay">
                                <div class="popup" style="height: 85%; overflow-y: auto;">
                                    <h2 class="popup-header">Detalji narudžbe</h2>
                                    <a class="close" href="#close">&times;</a>
                                    <h3 class="content-header">Narudžba</h3>

                                    <div class="content">
                                        <div class="item-name"><b>1. Mijesano meso</b></div>
                                        <div class="item-price">10.00KM</div>
                                        <div class="condiments">
                                            <div class="condiment">+majoneza</div>
                                            <div class="condiment-price">0.00KM</div>
                                            <div class="condiment">+pomfrit</div>
                                            <div class="condiment-price">2.50KM</div>
                                            <div class="condiment">+kecap</div>
                                            <div class="condiment-price">0.00KM</div>
                                        </div>
                                        <div class="item-total">
                                            12.50KM
                                        </div>
                                    </div>

                                    <div class="content">
                                        <div class="item-name"><b>2. Pizza</b></div>
                                        <div class="item-price">10.00KM</div>
                                        <div class="condiments">
                                            <div class="condiment">+majoneza</div>
                                            <div class="condiment-price">0.00KM</div>
                                            <div class="condiment">+pomfrit</div>
                                            <div class="condiment-price">2.50KM</div>
                                            <div class="condiment">+kecap</div>
                                            <div class="condiment-price">0.00KM</div>
                                        </div>
                                        <div class="item-total">
                                            12.50KM
                                        </div>
                                    </div>

                                    <div class="content">
                                        <div class="item-name"><b>3. Hamburger</b></div>
                                        <div class="item-price">10.00KM</div>
                                        <div class="condiments">
                                            <div class="condiment">+majoneza</div>
                                            <div class="condiment-price">0.00KM</div>
                                            <div class="condiment">+pomfrit</div>
                                            <div class="condiment-price">2.50KM</div>
                                            <div class="condiment">+kecap</div>
                                            <div class="condiment-price">0.00KM</div>
                                        </div>
                                        <div class="item-total">
                                            12.50KM
                                        </div>
                                    </div>
                                    <div class="Ukupno">
                                        UKUPNO
                                    </div>
                                    <div class="ukupno-price">
                                        <b>37.50KM</b>
                                    </div>
                                    <div class="accept-orders">
                                        <a href="#">
                                            <button class="button-content-cell" style="background: #1e7e34; margin-top: 2rem;background: #D9391C;">Decline</button>
                                        </a>
                                        <a href="#">
                                            <button class="button-content-cell" style="background: #D9391C; background: #1e7e34;margin-top: 2rem;">Accept</button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </section>
                    </div>

                </div>
        </div>
        <div class="col-md-6 no-gutters">
            <div class="right-side">
                <div class="accepted-orders"> <b>ACCEPTED ORDERS</b></div>
                <div class="orders-content" style="border-left: 3px solid #68a708;border-right: 3px solid #68a708;border-bottom: 3px solid #68a708;">

                    <section>
                        <table class="bill-table">
                            <tr>
                                <td class="bill-id-cell">
                                    #13242
                                </td>
                                <td class="address-cell">
                                    13.04.2022 14:54
                                </td>
                            </tr>
                            <tr>
                                <td colspan=2 class="content-cell">
                                    <div class="adress-content-cell">
                                        Adresa: fra petra bakule 192
                                    </div>

                                    <div class="name-content-cell">
                                        Ime: Josip
                                    </div>

                                    <div class="phone-content-cell">
                                        Tel: 092 332 0202
                                    </div>
                                    <div class="">
                                        <form action="#popup2">
                                            <input class="button-content-cell" type="submit" value="Detalji" />
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <div id="popup2" class="overlay">
                            <div class="orders-popup popup" style="height: 80%; overflow-y: auto;">
                                <h2 class="popup-header">Detalji narudžbe</h2>
                                <a class="close" href="#close">&times;</a>
                                <h3 class="content-header">Narudžba</h3>

                                <div class="content">
                                    <div class="item-name"><b>1. Mijesano meso</b></div>
                                    <div class="item-price">10.00KM</div>
                                    <div class="condiments">
                                        <div class="condiment">+majoneza</div>
                                        <div class="condiment-price">0.00KM</div>
                                        <div class="condiment">+pomfrit</div>
                                        <div class="condiment-price">2.50KM</div>
                                        <div class="condiment">+kecap</div>
                                        <div class="condiment-price">0.00KM</div>
                                    </div>
                                    <div class="item-total">
                                        12.50KM
                                    </div>
                                </div>

                                <div class="content">
                                    <div class="item-name"><b>2. Pizza</b></div>
                                    <div class="item-price">10.00KM</div>
                                    <div class="condiments">
                                        <div class="condiment">+majoneza</div>
                                        <div class="condiment-price">0.00KM</div>
                                        <div class="condiment">+pomfrit</div>
                                        <div class="condiment-price">2.50KM</div>
                                        <div class="condiment">+kecap</div>
                                        <div class="condiment-price">0.00KM</div>
                                    </div>
                                    <div class="item-total">
                                        12.50KM
                                    </div>
                                </div>

                                <div class="content">
                                    <div class="item-name"><b>3. Hamburger</b></div>
                                    <div class="item-price">10.00KM</div>
                                    <div class="condiments">
                                        <div class="condiment">+majoneza</div>
                                        <div class="condiment-price">0.00KM</div>
                                        <div class="condiment">+pomfrit</div>
                                        <div class="condiment-price">2.50KM</div>
                                        <div class="condiment">+kecap</div>
                                        <div class="condiment-price">0.00KM</div>
                                    </div>
                                    <div class="item-total">
                                        12.50KM
                                    </div>
                                </div>

                                <div class="accept-orders">
                                    <div class="Ukupno">
                                        UKUPNO
                                    </div>
                                    <div class="ukupno-price">
                                        <b>37.50KM</b>
                                    </div>
                                    <a href="#">
                                        <button class="button-content-cell" style="background: #1e7e34; margin-top: 2rem;">Accept</button>
                                    </a>
                                    <a href="#">
                                        <button class="button-content-cell" style="background: #D9391C; margin-top: 2rem;">Decline</button>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </section>
                </div>
            </div>
        </div>
    </div>
</main>



<br><br><br>
<footer th:replace="fragments/general :: footer">
</footer>
</body>
</html>