
<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="https://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/general :: head"></head>
<head>
    <meta charset="UTF-8">
    <title>Restoran</title>
    <link href="../static/css/success.css" th:href="@{/css/success.css}" rel="stylesheet" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <link href="../static/css/restaurant_orders.css" th:href="@{/css/restaurant_orders.css}" rel="stylesheet" />
    <link href="../static/css/popup.css" th:href="@{/css/popup.css}" rel="stylesheet" />
    <link href="../static/css/rating.css" th:href="@{/css/rating.css}" rel="stylesheet" />
    <link href="../static/css/checkout.css" th:href="@{/css/checkout.css}" rel="stylesheet" />



</head>
<body>
<main role="main" class="flex-shrink-0" style="margin-bottom: 125px;">
    <header th:replace="fragments/general-restaurant :: header"></header>
    <div class="row no-gutters" style="margin-top: 5rem;">
        <div class="col-md-6 no-gutters">
            <div class="left-side">
                <div class="new-orders"><b>NEW ORDERS</b></div>
                    <div class="orders-content" style="border-left: 3px solid red;border-right: 3px solid red;border-bottom: 3px solid red;">
                        <table class="bill-table">
                            <tr>
                                <td class="bill-id-cell-new-orders">
                                    #13242
                                </td>
                                <td class="address-cell">
                                    13.04.2022 14:54
                                </td>
                            </tr>
                            <tr>
                                <td colspan=2 class="content-cell">
                                    <div class="adress-content-cell">
                                        Adresa: fra petra bakule 19
                                    </div>

                                    <div class="name-content-cell">
                                        Ime: Josip
                                    </div>

                                    <div class="phone-content-cell">
                                        Tel: 092 332 0202
                                    </div>
                                    <div class="">
                                        <button class="button-content-cell" value="submit">Detalji</button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <table class="bill-table">
                            <tr>
                                <td class="bill-id-cell-new-orders">
                                    #13242
                                </td>
                                <td class="address-cell">
                                    13.04.2022 14:54
                                </td>
                            </tr>
                            <tr>
                                <td colspan=2 class="content-cell">
                                    <div class="adress-content-cell">
                                        Adresa: fra petra bakule 19
                                    </div>

                                    <div class="name-content-cell">
                                        Ime: Josip
                                    </div>

                                    <div class="phone-content-cell">
                                        Tel: 092 332 0202
                                    </div>
                                    <div class="">
                                        <button class="button-content-cell" value="submit">Detalji</button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <table class="bill-table">
                            <tr>
                                <td class="bill-id-cell-new-orders">
                                    #13242
                                </td>
                                <td class="address-cell">
                                    13.04.2022 14:54
                                </td>
                            </tr>
                            <tr>
                                <td colspan=2 class="content-cell">
                                    <div class="adress-content-cell">
                                        Adresa: fra petra bakule 19
                                    </div>

                                    <div class="name-content-cell">
                                        Ime: Josip
                                    </div>

                                    <div class="phone-content-cell">
                                        Tel: 092 332 0202
                                    </div>
                                    <div class="">
                                        <button class="button-content-cell" value="submit">Detalji</button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <table class="bill-table">
                            <tr>
                                <td class="bill-id-cell-new-orders">
                                    #13242
                                </td>
                                <td class="address-cell">
                                    13.04.2022 14:54
                                </td>
                            </tr>
                            <tr>
                                <td colspan=2 class="content-cell">
                                    <div class="adress-content-cell">
                                        Adresa: fra petra bakule 19
                                    </div>

                                    <div class="name-content-cell">
                                        Ime: Josip
                                    </div>

                                    <div class="phone-content-cell">
                                        Tel: 092 332 0202
                                    </div>
                                    <div class="">
                                        <button class="button-content-cell" value="submit">Detalji</button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <table class="bill-table">
                            <tr>
                                <td class="bill-id-cell-new-orders">
                                    #13242
                                </td>
                                <td class="address-cell">
                                    13.04.2022 14:54
                                </td>
                            </tr>
                            <tr>
                                <td colspan=2 class="content-cell">
                                    <div class="adress-content-cell">
                                        Adresa: fra petra bakule 19
                                    </div>

                                    <div class="name-content-cell">
                                        Ime: Josip
                                    </div>

                                    <div class="phone-content-cell">
                                        Tel: 092 332 0202
                                    </div>
                                    <div class="">
                                        <button class="button-content-cell" value="submit">Detalji</button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <table class="bill-table">
                            <tr>
                                <td class="bill-id-cell-new-orders">
                                    #13242
                                </td>
                                <td class="address-cell">
                                    13.04.2022 14:54
                                </td>
                            </tr>
                            <tr>
                                <td colspan=2 class="content-cell">
                                    <div class="adress-content-cell">
                                        Adresa: fra petra bakule 19
                                    </div>

                                    <div class="name-content-cell">
                                        Ime: Josip
                                    </div>

                                    <div class="phone-content-cell">
                                        Tel: 092 332 0202
                                    </div>
                                    <div class="">
                                        <button class="button-content-cell" value="submit">Detalji</button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <table class="bill-table">
                            <tr>
                                <td class="bill-id-cell-new-orders">
                                    #13242
                                </td>
                                <td class="address-cell">
                                    13.04.2022 14:54
                                </td>
                            </tr>
                            <tr>
                                <td colspan=2 class="content-cell">
                                    <div class="adress-content-cell">
                                        Adresa: fra petra bakule 19
                                    </div>

                                    <div class="name-content-cell">
                                        Ime: Josip
                                    </div>

                                    <div class="phone-content-cell">
                                        Tel: 092 332 0202
                                    </div>
                                    <div class="">
                                        <button class="button-content-cell" value="submit">Detalji</button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <table class="bill-table">
                            <tr>
                                <td class="bill-id-cell-new-orders">
                                    #13242
                                </td>
                                <td class="address-cell">
                                    13.04.2022 14:54
                                </td>
                            </tr>
                            <tr>
                                <td colspan=2 class="content-cell">
                                    <div class="adress-content-cell">
                                        Adresa: fra petra bakule 19
                                    </div>

                                    <div class="name-content-cell">
                                        Ime: Josip
                                    </div>

                                    <div class="phone-content-cell">
                                        Tel: 092 332 0202
                                    </div>
                                    <div class="">
                                        <button class="button-content-cell" value="submit">Detalji</button>
                                    </div>
                                </td>
                            </tr>
                        </table>

                    </div>

                </div>
        </div>
        <div class="col-md-6 no-gutters">
            <div class="right-side">
                <div class="accepted-orders"> <b>ACCEPTED ORDERS</b></div>
                <div class="orders-content" style="border-left: 3px solid #68a708;border-right: 3px solid #68a708;border-bottom: 3px solid #68a708;">
                    <table class="bill-table">
                        <tr>
                            <td class="bill-id-cell">
                                Bill id Cell
                            </td>
                            <td class="address-cell">
                                Adress cell
                            </td>
                        </tr>
                        <tr>
                            <td colspan=2 class="content-cell">
                                Content Cell
                            </td>
                        </tr>
                    </table>
                    <table class="bill-table">
                        <tr>
                            <td class="bill-id-cell">
                                Bill id Cell
                            </td>
                            <td class="address-cell">
                                Adress cell
                            </td>
                        </tr>
                        <tr>
                            <td colspan=2 class="content-cell">
                                Content Cell
                            </td>
                        </tr>
                    </table>
                    <table class="bill-table">
                        <tr>
                            <td class="bill-id-cell">
                                Bill id Cell
                            </td>
                            <td class="address-cell">
                                Adress cell
                            </td>
                        </tr>
                        <tr>
                            <td colspan=2 class="content-cell">
                                Content Cell
                            </td>
                        </tr>
                    </table>
                    <table class="bill-table">
                        <tr>
                            <td class="bill-id-cell">
                                Bill id Cell
                            </td>
                            <td class="address-cell">
                                Adress cell
                            </td>
                        </tr>
                        <tr>
                            <td colspan=2 class="content-cell">
                                Content Cell
                            </td>
                        </tr>
                    </table>
                    <table class="bill-table">
                        <tr>
                            <td class="bill-id-cell">
                                Bill id Cell
                            </td>
                            <td class="address-cell">
                                Adress cell
                            </td>
                        </tr>
                        <tr>
                            <td colspan=2 class="content-cell">
                                Content Cell
                            </td>
                        </tr>
                    </table>
                    <table class="bill-table">
                        <tr>
                            <td class="bill-id-cell">
                                Bill id Cell
                            </td>
                            <td class="address-cell">
                                Adress cell
                            </td>
                        </tr>
                        <tr>
                            <td colspan=2 class="content-cell">
                                Content Cell
                            </td>
                        </tr>
                    </table>
                    <table class="bill-table">
                        <tr>
                            <td class="bill-id-cell">
                                Bill id Cell
                            </td>
                            <td class="address-cell">
                                Adress cell
                            </td>
                        </tr>
                        <tr>
                            <td colspan=2 class="content-cell">
                                Content Cell
                            </td>
                        </tr>
                    </table>
                    <table class="bill-table">
                        <tr>
                            <td class="bill-id-cell">
                                Bill id Cell
                            </td>
                            <td class="address-cell">
                                Adress cell
                            </td>
                        </tr>
                        <tr>
                            <td colspan=2 class="content-cell">
                                Content Cell
                            </td>
                        </tr>
                    </table>
                    <table class="bill-table">
                        <tr>
                            <td class="bill-id-cell">
                                Bill id Cell
                            </td>
                            <td class="address-cell">
                                Adress cell
                            </td>
                        </tr>
                        <tr>
                            <td colspan=2 class="content-cell">
                                Content Cell
                            </td>
                        </tr>
                    </table>
                    <table class="bill-table">
                        <tr>
                            <td class="bill-id-cell">
                                Bill id Cell
                            </td>
                            <td class="address-cell">
                                Adress cell
                            </td>
                        </tr>
                        <tr>
                            <td colspan=2 class="content-cell">
                                Content Cell
                            </td>
                        </tr>
                    </table>
                    <table class="bill-table">
                        <tr>
                            <td class="bill-id-cell">
                                Bill id Cell
                            </td>
                            <td class="address-cell">
                                Adress cell
                            </td>
                        </tr>
                        <tr>
                            <td colspan=2 class="content-cell">
                                Content Cell
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>



<br><br><br>
<footer th:replace="fragments/general :: footer">
</footer>
</body>
</html>