<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
<head>
    <title>Registracija</title>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link href="../static/css/signup.css" th:href="@{/css/signup.css}" rel="stylesheet" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        function checkPassword(form) {
            password1 = form.password1.value;
            password2 = form.password2.value;
            if (password1 == '')
                alert ("Unesite lozinku");
            else if (password2 == '')
                alert ("Ponovo unesite lozinku");
            else if (password1 != password2) {
                alert ("\nLozinke se ne podudaraju, pokušajte ponovo...")
                return false;
            }
        }
    </script>
</head>
<body>


</body>
</html>