
<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="https://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/general :: head"></head>
<head>
  <meta charset="UTF-8">
  <title>Uspjeh</title>
  <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
  <link href="../static/css/success.css" th:href="@{/css/success.css}" rel="stylesheet" />

</head>
<body>
<main role="main" class="flex-shrink-0" style="margin-bottom: 125px;">
  <header th:replace="fragments/general :: header"></header>
</main>
<div class='card' id="animated fadeIn">
  <div class='upper-side'>
    <i class="fa fa-check"></i>
    <h3 id='status' class = "success"> Uspjeh! </h3>
  </div>
  <div class='lower-side'>
    <p class='message'>
      [[${message}]]
    </p>
    <a href="/" class="contBtn">Nastavi</a>
  </div>
</div>
</div>
<br><br><br>
<footer th:replace="fragments/general :: footer">
</footer>
</body>
</html>